.cards{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 18%;

}
.incon{
  width: 100%;
  height: auto;
}
.dete,.eye{
  font-size: 13px;
}
.best_title{
    text-align: center;
    margin-bottom: 30px;
}

.category {
  display: block;
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;  
  
}
.category-lists ul li:first-child {
  margin-left: 0;
}
.category ul li {
  display: inline-block;
  margin: 0px;
  text-align: center; 
}
.userimg {

  width: 30px;
  height: 30px;
  top: 2px;
  border-radius: 100%;
  background-color: #fff;
}
.reply-view{
  margin: 0px;
  font-size: 10px;
}
.cards2{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 6%;
  margin: 50px 20px 30px 50px;

}
a:link { color: #646464; text-decoration: none;}
a:visited { color: #646464; text-decoration: none;}
a:hover { color: #646464; text-decoration: none;}
a:active{text-decoration: none; color: #646464;}

.card3{
  margin: 50px 0px 50px 0px;

}
.sptext{color: white ;}
.carousel-inner > .carousel-item > img{  width: 640px; height: 500px; }




