body {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#fff), to(#fff));
    background: -webkit-linear-gradient(bottom left, #fff 0%, #fffc 100%);
    background: -moz-linear-gradient(bottom left, #fff 0%, #fff 100%);
    background: -o-linear-gradient(bottom left, #fff 0%, #fff 100%);
    background: linear-gradient(to top right, #fff 0%, #fff 100%);
}

.input-form {
    max-width: 680px;
    margin-top: 80px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.invalid-checkbox {
border-radius: 10px;
background-color: rgb(248, 239, 239);
width: 100%;
}

.code {
    margin-top: 32px;
}

.checkcss {
    margin: 5px;
}

.ka-api {
    margin: 5px;
}
.code2{
    margin: 0 0 20px 20px;
}